/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
  /* 10px if the browser was 16px*/
  /* 1rem === 10px @ medium browser settings */
  font-family: sans-serif;
}

h1 {
  font-size: 6rem;
  margin-top: 20px;
}

.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 40px auto;
}

button {
	width: 200px;
	height: 40px;
	background-color: black;
	border: 1px solid  #f9ff09;
	color: #f9ff09;
	font-size: 1.8rem;
	margin: 0 20px 20px 20px;
}

button:hover {
	cursor: pointer;
	background-color:  #f9ff09;
	color: black;
	border: 1px solid black;
}

.previous {
	display: none;
}

.display {
	display: flex;
}
